@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: #252b33;
}

body{
  background: #fff;
}

.custom-shadow{
  box-shadow: 1px 2px 15px 0 rgba(0,0,0,.15);
}

.fHeader{
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 60px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
  opacity: .1;
  background: none;
  -webkit-text-fill-color: transparent;
}

.fHeaderA{
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 60px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
  opacity: .1;
  background: none;
  -webkit-text-fill-color: transparent;
}